* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; 
}

body {
  font-family: 'Inter', sans-serif;
  background: #FEF1F3;
  font-size: 1rem;
  line-height: 1.5;
}

*:focus {
  outline: none !important;
}

.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none !important;
}